h1 {
    text-align: center;
    margin-top: 10%;
}

input, button {
    border: none;
}

::placeholder{
    color: black;
}

.delete_pw {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.error_message {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: red;
}

.input_pw,.input_check_pw {
    width: 460px;
    height: 62px;
    border-radius: 3px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    background: #FFE5E5;
    padding: 0 0 0 10px;
    color: black;
}

.button_delete_pw {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 382px;
    height: 50px;
    border-radius: 3px;
    background: #FFBDBD;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

}