.search_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#name {
    width: 200px;
    height: 20px;
}  

.invisible{
    display: none;
}
.mid_wrapper{
    width:100%;
    height:20%;
}

#suggestion_box {
    margin-top: 1px;
    background: white;
    padding: 0 10px;
    border: 1px solid black;
    width:100%;
    height: 80%;
}

.suggested_items{
    height:100px;
    width: 250px;
    overflow: auto; /* 스크롤바 추가 */
}

/* 마우스 올리면 색 변화 */
.item:hover{
    color: #fff;
    background-color: lightgreen;
}