body{
  width: 100vw; 
  height: 100vh;
  margin: auto;
}


.container {
  position: relative;
  min-height: 1750px;
  background-color: #FFE5E5;
  width: 1134.79px;
  height: 100%;
  margin : auto;
  background-size: cover;
}


/*글제목*/

#title5 {
  position: absolute;
  top: 5%; 
  left: 7.5%;
  width: 964px;
  max-width: 1000px;
  height: 28px;
  font-size: 20px;
  box-sizing: border-box;
}

#certification_photo_text {
  position: absolute;
  top: 7%;
  left: 7.5%; 
  width: 90px;
  height: 24px; 
  font-size: 20px; 
}

#certification_photo_space {
  position: absolute;
  top : 9%;
  left: 7.5%;
  width: 964px;
  height: 600px;
  background-color: white;
}


.upload-button {
  display: inline-block;
  position: absolute;
  top: 7%; 
  left: 80%; 
  width: 140.03px;
  height: 23.37px; 
  background-color:#FFBDBD;
  color:black;
  border: none;
  cursor: pointer;
  text-align: center;
}

#preview-container {
  margin-top: 20px;
  position: relative;
}

#preview-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  max-width: 894px;
  max-height: 550px;
}

#upload-input {
  display: none;
}

/*내용*/

#content {
  position: absolute;
  top: 46%; 
  left: 7.5%;
  width: 964px;
  height: 226px;
  font-size: 20px; 
  resize: none;
}

#hashtag_text {
  position: absolute;
  top: 60%; 
  left: 7.5%; 
  width: 90px;
  height: 24px; 
  font-size: 20px; 
}


.tag-container {
  position: absolute;
  top: 61.4%;
  left: 20%;
  display: flex;
  flex-wrap: nowrap; 
  max-width: 700px; 
}


.tag-input {
margin: 10px;
background-color: #FFBDBD;
border: none;
cursor: pointer;
position: relative;
top: 0%; 
left: 0%;
width: 134px;
height: 28px;
font-size: 20px;
text-align: center;
}

.input-container {
position: absolute;
top: 62%; 
left: 7.5%;
width: 134px;
height: 28px; 
}

#tag-input {
font-size: 20px;
width: 134px;
border: none;
}

#upload_btn {
  position: absolute;
  top: 1359.77px; 
  left: 535.2px; 
  background-color:#FFBDBD;
  color:black;
  border:none;
  width: 382px;
  height: 50px; 
  font-size: 20px;
  cursor: pointer;
}