body{
  position: relative;
  width: 1440px;
  height: 100%;
  margin: auto;
}


.container {
  min-height: 1400px;
  background-color: #FFE5E5;
  width: 1134.79px;
  height: 100%;
  margin-top: 163.46px;
  margin-left: 158.81px;
  margin-right: 146.4px;
  background-size: cover;
}

/*글제목*/

#title {
  position: absolute;
  top: 69.54px; 
  left: 223px;
  width: 964px;
  max-width: 1000px;
  height: 28px;
  font-size: 20px;
  box-sizing: border-box;
}

#certification_photo_text {
  position: absolute;
  top: 124.62px; 
  left: 229.5px; 
  width: 90px;
  height: 24px; 
  font-size: 20px; 
}

#certification_photo_space {
  position: absolute;
  top : 155.74px;
  left: 223.5px;
  width: 964px;
  height: 600px;
  background-color: white;
}


.upload-button {
  display: inline-block;
  position: absolute;
  top: 124.62px; 
  left: 1048px; 
  width: 140.03px;
  height: 23.37px; 
  background-color:#FFBDBD;
  color:black;
  border: none;
  cursor: pointer;
  text-align: center;
}

#preview-container {
  margin-top: 20px;
  position: relative;
}

#preview-image {
  position: absolute;
  top: 456.77px;
  left: 48%;
  transform: translate(-50%, -50%);
  max-width: 944px;
  max-height: 600px;
}

#upload-input {
  display: none;
}

/*내용*/

#content {
  position: absolute;
  top: 782.54px; 
  left: 224.5px;
  width: 964px;
  height: 226px;
  font-size: 20px; 
  resize: none;
}

#hashtag_text {
  position: absolute;
  top: 1037.37px; 
  left: 229.5px; 
  width: 90px;
  height: 24px; 
  font-size: 20px; 
}


.tag-container {
position: relative;
display: flex;
flex-wrap: nowrap; 
max-width: 700px; 
}


.tag-input {
margin: 10px;
background-color: #FFBDBD;
border: none;
cursor: pointer;
position: relative;
top: 1075.87px; 
left: 225.69px;
width: 134px;
height: 28px;
font-size: 20px;
text-align: center;
}

.input-container {
position: absolute;
top: 1087.87px; 
left: 225.69px;
width: 134px;
height: 28px; 
}

#tag-input {
font-size: 20px;
width: 134px;
border: none;
}

#upload_btn {
  position: absolute;
  top: 1359.77px; 
  left: 535.2px; 
  background-color:#FFBDBD;
  color:black;
  border:none;
  width: 382px;
  height: 50px; 
  font-size: 20px;
  cursor: pointer;
}