body{
  width: 100vw; 
  height: 100vh;
  margin: auto;
}


.container {
  position: relative;
  min-height: 1900px;
  background-color: #FFE5E5;
  width: 1134.79px;
  height: 100%;
  margin : auto;
  background-size: cover;
}


/*글제목*/

#title2 {
    position: absolute;
    top: 5%; 
    left: 7.5%;
    width: 964px;
    max-width: 1000px;
    height: 28px;
    font-size: 20px;
    box-sizing: border-box;
}

#certification_photo_text {
  position: absolute;
  top: 7%; 
  left: 7.5%; 
  width: 90px;
  height: 24px; 
  font-size: 20px; 
}


#certification_photo_space {
  position: absolute;
  top : 9%;
  left: 7.5%;
  width: 964px;
  height: 600px;
  background-color: white;
}


.upload-button {
  display: inline-block;
  position: absolute;
  top: 7%; 
  left: 80%; 
  width: 140.03px;
  height: 23.37px; 
  background-color:#FFBDBD;
  color:black;
  border: none;
  cursor: pointer;
  text-align: center;
}
  
  #preview-container {
    margin-top: 20px;
    position: relative;
  }
  
  #preview-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    max-width: 894px;
    max-height: 550px;
  }

#upload-input {
    display: none;
  }

/*내용*/

#content {
  position: absolute;
  top: 42%; 
  left: 7.5%;
  width: 964px;
  height: 226px;
  font-size: 20px; 
  resize: none;
}
/*지원조건*/

#job_condition_text {
    position: absolute;
    top: 55%; 
    left: 7.5%; 
    width: 400px;
    height: 24px; 
    font-size: 20px; 
}

#intern_btn.active {
    position: absolute;
    top: 57%; 
    left: 7.5%; 
    background-color:#FFBDBD;
    color:black;
    border:none;
    width: 257px;
    height: 40px;
    font-size: 20px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intern_btn {
    position: absolute;
    top: 57%; 
    left: 7.5%; 
    background-color:white;
    color:black;
    border:none;
    width: 257px;
    height: 40px;
    font-size: 20px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#permanent_btn.active {
    position: absolute;
    top: 57%; 
    left: 32.5%;
    border:none; 
    background-color:#FFBDBD;
    color:black;
    border:none;
    width: 257px;
    height: 40px; 
    font-size: 20px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#permanent_btn {
    position: absolute;
    top: 57%; 
    left: 32.5%;
    border:none; 
    background-color:white;
    color:black;
    border:none;
    width: 257px;
    height: 40px; 
    font-size: 20px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#temporary_btn.active {
    position: absolute;
    top: 57%; 
    left: 57.5%; 
    border:none;  
    background-color:#FFBDBD;
    color:black;
    border:none;
    width: 257px;
    height: 40px; 
    font-size: 20px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#temporary_btn {
    position: absolute;
    top: 57%; 
    left: 57.5%; 
    border:none;  
    background-color:white;
    color:black;
    border:none;
    width: 257px;
    height: 40px; 
    font-size: 20px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job_btn{
	text-align: center;
}

#career_text {
    position: absolute;
    top: 60%; 
    left: 7.5%; 
    width: 400px;
    height: 24px; 
    font-size: 20px; 
}

#newcomer_btn.active {
    position: absolute;
    top: 62%; 
    left: 7.5%; 
    background-color:#FFBDBD;
    color:black;
    border:none;
    width: 257px;
    height: 40px;
    font-size: 20px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#newcomer_btn {
    position: absolute;
    top: 62%; 
    left: 7.5%; 
    background-color:white;
    color:black;
    border:none;
    width: 257px;
    height: 40px;
    font-size: 20px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#experienced_btn.active {
    position: absolute;
    top: 62%; 
    left: 32.5%;
    border:none; 
    background-color:#FFBDBD;
    color:black;
    border:none;
    width: 257px;
    height: 40px; 
    font-size: 20px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#experienced_btn {
    position: absolute;
    top: 62%; 
    left: 32.5%;
    border:none; 
    background-color:white;
    color:black;
    border:none;
    width: 257px;
    height: 40px; 
    font-size: 20px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.career_btn{
	text-align: center;
}

#num_recruiters_text {
    position: absolute;
    top: 64.5%; 
    left: 7.5%; 
    width: 400px;
    height: 24px; 
    font-size: 20px; 
}

#numeric-input {
    position: absolute;
    top: 66.5%; 
    left: 7.5%;
    width: 257px;
    height: 28px;
    font-size: 20px;
    box-sizing: border-box;
    border: none;
}

#preferential_terms_text {
    position: absolute;
    top: 68.5%; 
    left: 7.5%; 
    width: 400px;
    height: 24px; 
    font-size: 20px; 
}

#preferential_terms {
    position: absolute;
    top: 70.5%; 
    left: 7.5%;
    width: 964px;
    height: 44px;
    font-size: 20px; 
    resize: none;
}

#how_to_apply_text {
    position: absolute;
    top: 73.5%; 
    left: 7.5%; 
    width: 400px;
    height: 24px; 
    font-size: 20px; 
}

#how_to_apply {
    position: absolute;
    top: 75.5%; 
    left:7.5%;
    width: 964px;
    height: 44px;
    font-size: 20px; 
    resize: none;
}

#support_schedule_text {
    position: absolute;
    top: 78%; 
    left: 7.5%; 
    width: 400px;
    height: 24px; 
    font-size: 20px; 
}


.calendar-1 {
    display: inline-block;
    position: absolute;
    top: 80%; 
    left: 7.5%;
    width: 357px;
    height: 24px; 
    resize: none;
  }

#start-date {
    font-size: 20px; 
    width: 257px;
    border: none;
}

#swung_dash{
    position: absolute;
    top: 80%; 
    left: 31.5%;
}
  .calendar-2 {
    display: inline-block;
    position: absolute;
    top: 80%; 
    left: 33.5%;
    width: 357px;
    height: 24px;
    resize: none;
  }

  #end-date {
    font-size: 20px; 
    width: 257px;
    border: none;
}

  .calendar input {
    padding: 5px;
  }

  #hashtag_text {
    position: absolute;
    top: 82%; 
    left: 7.5%; 
    width: 90px;
    height: 24px; 
    font-size: 20px;
  }
  
  .tag-container {
    position: absolute;
    top: 83.5%;
    left: 20%;
    display: flex;
    flex-wrap: nowrap; 
    max-width: 700px; 
  }
  
  
  .tag-input {
    margin: 10px;
    background-color: #FFBDBD;
    border: none;
    cursor: pointer;
    position: relative;
    top: 0%; 
    left: 0%;
    width: auto; /* 자동으로 크기 조정 */
    height: 28px;
    font-size: 20px;
    text-align: center;
  }
  
  .input-container {
    position: absolute;
    top: 84%; 
    left: 7.5%;
    width: 134px;
    height: 28px;
  }
  
  #tag-input {
    font-size: 20px;
    width: 134px;
    border: none;
  }
  

#upload_btn {
    position: absolute;
    top: 96.5%; 
    left: 33%; 
    background-color:#FFBDBD;
    color:black;
    border:none;
    width: 382px;
    height: 50px; 
    font-size: 20px;
    cursor: pointer;
}