body{
    width: 100vw; 
    height: 100vh;
    margin: auto;
}


.container {
    position: relative;
    min-height: 1750px;
    background-color: #FFE5E5;
    width: 1134.79px;
    height: 100%;
    margin : auto;
    background-size: cover;
  }

/*글제목*/

#title1 {
    position: absolute;
    top: 5%; 
    left: 7.5%;
    width: 964px;
    max-width: 1000px;
    height: 28px;
    font-size: 20px;
    box-sizing: border-box;
}

/*내용*/

#content {
    position: absolute;
    top: 10%;
    left: 7.5%;
    width: 964px;
    height: 226px;
    font-size: 20px; 
    resize: none;
}
/*지원조건*/

#job_condition_text {
    position: absolute;
    top: 23.25%; 
    left: 7.5%; 
    width: 90px;
    height: 24px; 
    font-size: 20px; 
}

#intern_btn.active {
    position: absolute;
    top: 25.5%; 
    left: 7.5%; 
    background-color:#FFBDBD;
    color:black;
    border:none;
    width: 257px;
    height: 40px;
    font-size: 20px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intern_btn {
    position: absolute;
    top: 25.5%; 
    left: 7.5%; 
    background-color:white;
    color:black;
    border:none;
    width: 257px;
    height: 40px;
    font-size: 20px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#permanent_btn.active {
    position: absolute;
    top: 25.5%; 
    left: 32.5%;
    border:none; 
    background-color:#FFBDBD;
    color:black;
    border:none;
    width: 257px;
    height: 40px; 
    font-size: 20px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#permanent_btn {
    position: absolute;
    top: 25.5%; 
    left: 32.5%;
    border:none; 
    background-color:white;
    color:black;
    border:none;
    width: 257px;
    height: 40px; 
    font-size: 20px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#temporary_btn.active {
    position: absolute;
    top: 25.5%; 
    left: 57.5%; 
    border:none;  
    background-color:#FFBDBD;
    color:black;
    border:none;
    width: 257px;
    height: 40px; 
    font-size: 20px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#temporary_btn {
    position: absolute;
    top: 25.5%;
    left: 57.5%; 
    border:none;  
    background-color:white;
    color:black;
    border:none;
    width: 257px;
    height: 40px; 
    font-size: 20px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job_btn{
	text-align: center;
}

#company_name_text {
    position: absolute;
    top: 29.5%; 
    left: 7.5%; 
    width: 90px;
    height: 24px; 
    font-size: 20px; 
}

#company_name {
    position: absolute;
    top: 31.5%; 
    left: 7.5%;
    width: 257px;
    height: 28px;
    font-size: 15px; 
}

#grade_text {
    position: absolute;
    top: 34%; 
    left: 7.5%; 
    width: 90px;
    height: 24px; 
    font-size: 20px; 
}

#star_1 {
    position: absolute;
    top: 35.75%; 
    left: 7.5%; 
    width: 40px;
    height: 40px; 
    font-size: 40px; 
}


#star_2 {
    position: absolute;
    top: 35.75%; 
    left: 12%; 
    width: 40px;
    height: 40px; 
    font-size: 40px; 
}

#star_3 {
    position: absolute;
    top: 35.75%;  
    left: 16.5%; 
    width: 40px;
    height: 40px; 
    font-size: 40px; 
}

#star_4 {
    position: absolute;
    top: 35.75%; 
    left: 21%; 
    width: 40px;
    height: 40px; 
    font-size: 40px; 
}

#star_5 {
    position: absolute;
    top: 35.75%; 
    left: 25.5%; 
    width: 40px;
    height: 40px; 
    font-size: 40px; 
}

.rating {
    color: white;
    unicode-bidi: bidi-override;
    width: max-content;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: black;
}
  
.star {
    cursor: pointer;
}
  
.star.active {
    color: gold;
    -webkit-text-fill-color: gold;
}

#certification_photo_text {
    position: absolute;
    top: 39.5%; 
    left: 7.5%; 
    width: 90px;
    height: 24px; 
    font-size: 20px; 
}

#certification_photo_space {
    position: absolute;
    top : 42%;
    left: 7.5%;
    width: 964px;
    height: 600px;
    background-color: white;
}


.upload-button {
    display: inline-block;
    position: absolute;
    top: 39.5%; 
    left: 80%;
    width: 140.03px;
    height: 23.37px; 
    background-color:#FFBDBD;
    color:black;
    border: none;
    cursor: pointer;
    text-align: center;
  }
  
  #preview-container {
    margin-top: 20px;
    position: relative;
  }
  
  #preview-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    max-width: 894px;
    max-height: 550px;
  }

#upload-input {
    display: none;
  }

  #hashtag_text {
    position: absolute;
    top: 76.5%; 
    left: 7.5%; 
    width: 90px;
    height: 24px; 
    font-size: 20px;
  }
  
  .tag-container {
    position: absolute;
    top: 77.9%;
    left: 20%;
    display: flex;
    flex-wrap: nowrap;
    max-width: 700px;
  }
  
  .tag-input {
    margin: 10px;
    background-color: #FFBDBD;
    border: none;
    cursor: pointer;
    position: relative;
    top: 0%; 
    left: 0%;
    width: auto; /* 자동으로 크기 조정 */
    height: 28px;
    font-size: 20px;
    text-align: center;
  }
  
  .input-container {
    position: absolute;
    top: 78.5%; 
    left: 7.5%;
    width: 134px;
    height: 28px;
  }
  
  #tag-input {
    font-size: 20px;
    width: 134px;
    border: none;
  }
  

#upload_btn {
    position: absolute;
    top: 90%; 
    left: 33%; 
    background-color:#FFBDBD;
    color:black;
    border:none;
    width: 382px;
    height: 50px; 
    font-size: 20px;
    cursor: pointer;
}