a {
  color: black;
}

.backg {
  width: 1000px;
  height: 2000px;
  background-color: rgb(247, 220, 225);
  top: 25%;
  left: 18.5%;
  position: absolute;
}

.contentText {
  font-weight: bold;
  font-size: 23px;
  position: absolute;
  top: 700px;
  left: 430px;
}

.reportMenu2 {
  display: none;
  position: absolute;
  top: 22%;
  left: 65%;
}

#reportReason2 {
  width: 200px;
  padding: 5px;
  margin-right: 10px;
}


#report-submit2 {
  background-color: #ff0000;
  color: #ffffff;
  padding: 5px 10px;
  cursor: pointer;
}

.commentText {
  font-weight: bold;
  font-size: 23px;
  position: absolute;
  top: 1710px;
  left: 430px;
}


.nickname {
  font-size: 20px;
  position: absolute;
  top: 35.5%;
  left: 32.5%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  text-align: center;
}


.title {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 43.5%;
  left: 32.5%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  text-align: center;
}

.reportText {
  background-color: transparent; 
  border: none; 
  padding: 0; 
  font-size: 16px;
  text-underline-offset: 2px;
  color: rgb(248, 74, 74);
  top: 218px;
  left: 1100px;
  text-decoration: underline;
  position: absolute;
}

.modifyText {
  background-color: transparent; 
  border: none; 
  padding: 0; 
  font-size: 16px;
  text-underline-offset: 2px;
  color: rgb(0, 0, 0);
  top: 188px;
  left: 1100px;
  text-decoration: underline;
  position: absolute;
}

.deleteText {
  background-color: transparent; 
  border: none; 
  padding: 0; 
  font-size: 16px;
  text-underline-offset: 2px;
  color: rgb(0, 0, 0);
  top: 158px;
  left: 1100px;
  text-decoration: underline;
  position: absolute;
}


.views {
  font-size: 18px;
  text-underline-offset: 2px;
  color: rgb(27, 27, 27);
  top: 260px;
  left: 1073px;
  position: absolute;
}

.rectangleBar {
  width: 800px;
  height: 50px;
  background-color: rgb(210, 153, 164);
  top: 50%;
  left: 25.5%;
  position: absolute;
  border-radius: 5px;
}

.rectText1 {
  font-weight: bold;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 220px;
  color: #ffffff;
}

.rectMiddle {
  width: 2px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  top: 10%;
  left: 49%;
  position: absolute;
}

.rectText2 {
  color: black;
  font-size: 22px;
  margin-top: -35px;
  margin-left: 480px;
  position: absolute;
}


.infoBoxLineUp {
  width: 700px;
  height: 1.5px;
  background-color: rgb(0, 0, 0);
  top: 60%;
  left: 29.2%;
  position: absolute;
}

.infoBoxLineDown {
  width: 700px;
  height: 1.5px;
  background-color: rgb(0, 0, 0);
  top: 93.5%;
  left: 29.2%;
  position: absolute;
}

.infoBoxLineMiddle {
  width: 2px;
  height: 220px;
  background-color: rgb(223, 179, 179);
  top: 62%;
  left: 52.2%;
  position: absolute;
}

.infoBox {
  width: 700px;
  height: 250px;
  background-color: rgb(247, 239, 239);
  top: 60%;
  left: 29.2%;
  position: absolute;
}

.infoBox2 {
  width: 350px;
  height: 250px;
  background-color: rgb(247, 239, 239);
  top: 60%;
  left: 53%;
  position: absolute;
}

.infoCondition {
  font-size: 18px;
  margin-top: 27.5px;
  margin-left: 40px;
}

.infoStar {
  font-size: 18px;
  margin-top: 30px;
  margin-left: 40px;
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.8rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
  left: -245px;
  position: relative;
}
/* 
.star-rating input {
  display: none;
}
 
.star-rating label {
  -webkit-text-fill-color: transparent; 
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}
 
.star-rating :checked ~ label {
  -webkit-text-fill-color: gold;
}
 
.star-rating label:hover,
.star-rating label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}*/

.infoHashtag {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 40px;
}

.infoCompany {
  font-size: 18px;
  margin-top: 27.5px;
  margin-left: 60px;
}

.infoPhoto {
  font-size: 18px;
  margin-top: 30px;
  margin-left: 60px;
}

.infoImageBox {
  margin-top: 10px;
  width: 150px;
  height: 90px;
  background-color: rgb(213, 213, 213);
}

.infoImageText {
  font-size: 20px;
}

.infoImageBoxH2 {
  font-size: 18px;
  top: 500px;
  left: 470px;
  position: relative;
}


.contentBox {
  width: 700px;
  height: 750px;
  background-color: rgb(247, 239, 239);
  top: 746.5px;
  left: 425.5px;
  position: absolute;
}

.contentBoxUp {
  width: 700px;
  height: 1.5px;
  background-color: rgb(0, 0, 0);
  top: 746.5px;
  left: 425.5px;
  position: absolute;
}

.contentBoxDown {
  width: 700px;
  height: 1.5px;
  background-color: rgb(0, 0, 0);
  top: 1496.5px;
  left: 425.5px;
  position: absolute;
}

.goodCircle {
  width: 100px;
  height: 100px;
  top: 205%;
  left: 43%;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(236, 143, 143);
  border-radius: 50%;
  position: absolute;
}

.goodText {
  font-size: 20px;
  top: 25%;
  left: 20%;
  position: absolute;
}

.badCircle {
  width: 100px;
  height: 100px;
  top: 205%;
  left: 53%;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(236, 143, 143);
  border-radius: 50%;
  position: absolute;
}

.badText {
  font-size: 20px;
  top: 25%;
  left: 20%;
  position: absolute;
}

.goodButton {
  width: 100px;
  height: 100px;
  top: 1530px;
  left: 650px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(236, 143, 143);
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.goodButton.clicked {
  background-color: rgb(255, 155, 171);
}

.badButton {
  width: 100px;
  height: 100px;
  top: 1530px;
  left: 800px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(236, 143, 143);
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.badButton.clicked {
  background-color: rgb(255, 155, 171);
}


.commentBox {
  width: 700px;
  height: 300px;
  background-color: rgb(247, 239, 239);
  top: 1751px;
  left: 425.5px;
  position: absolute;
} 

.commentBoxUp {
  width: 700px;
  height: 1.5px;
  background-color: rgb(0, 0, 0);
  top: 1750px;
  left: 425.5px;
  position: absolute;
}

.commentBoxDown {
  width: 700px;
  height: 1.5px;
  background-color: rgb(0, 0, 0);
  top: 2050px;
  left: 425.5px;
  position: absolute;
}

.commentId {
  font-size: 20px;
  top: 12%;
  left: 7%;
  position: absolute;
}

.commentContent {
  font-size: 20px;
  top: 12%;
  left: 27%;
  position: absolute;
}

.commentOfComment {
  font-size: 13px;
  font-weight: bold;
  top: 15%;
  left: 65%;
  position: absolute;
}

.replyForm {
  position: absolute;
  top: 30%;
  left: 26%;
}

#reply-input {
  width: 450px;
}


.reply-form {
  margin-top: 10px;
}

.reply-form textarea {
  width: 450px;
  height: 40px;
  resize: vertical;
}

.reply-form button {
  background-color: rgb(242, 173, 158);
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  /*
  top: 75px;
  */
  position: absolute;
  border: 1.5px solid black;
  cursor: pointer;
}

.reply-form button:hover {
  background-color: rgb(221, 150, 136);
}

.commentModify {
  font-size: 13px;
  font-weight: bold;
  top: 15%;
  left: 75%;
  position: absolute;
}

.commentReport {
  font-size: 13px;
  color: rgb(247, 80, 80);
  font-weight: bold;
  top: 15%;
  left: 85%;
  position: absolute;
}

.reportMenu {
  display: none;
  position: absolute;
  top: 27%;
  left: 70%;
}

#reportReason {
  width: 200px;
  padding: 5px;
  margin-right: 10px;
}

#report-submit {
  background-color: #ff0000;
  color: #ffffff;
  padding: 5px 10px;
  cursor: pointer;
}

.commentSquare {
  width: 600px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  top: 200%;
  left: 28%;
  position: absolute;
}


#form-commentInfo{
  width: 130%;
  top: 65%;
  left: 10%;
  position: absolute;
}

#comment-input{
  width: 50%;
  height: 5.0em;
}

#submit{
  background-color: rgb(251, 136, 136);
  width: 6.5em;
  height: 5.0em;;
  font-size: 15px;
  font-weight: bold;
  color: aliceblue;
}

#voteUp, #voteDown{
  width: 3.5em;
  height: 1.9em;
  background-color: aqua;    
}

#comments{
  margin-top: 10px;
}

.eachComment{   
  width :50%; 
  margin: 10px;  
  padding: 0.5em; 
  border-bottom: 1px solid #c1bcba;
}

.eachComment .name{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.3em;
  display: flex;
  justify-content: space-between;
}

.eachComment .inputValue{
  font-size: 1.2em;
  font-style: italic;    
}

.eachComment .time{
  font-size: 0.7em;
  color: #c1bcba;
  font-style: oblique;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  
}

.eachComment .voteDiv{
  display: flex;
  justify-content: flex-end;
}

.eachComment .deleteComment{
  background-color: red;
  color: aliceblue;
}



.comment-container {
    margin-top: 20px;
  }
  
  .comment-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .comment-input-container {
    display: flex;
    margin-bottom: 10px;
    position: absolute;
    top: 200px;
    left: 40px;
  }
  
  #comment-input {
    width: 500px;
    max-height: 5em;
    min-height: 5em;
  }
  
  #comment-submit {
    width: 90px;
    padding: 10px 10px;
    margin-left: 10px;
    cursor: pointer;
    background-color: rgb(242, 173, 158);
  }
  
  .comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .comment-options {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
  }
  
  .comment-options button {
    margin-left: 10px;
    cursor: pointer;
    background-color: none;
    border: none;

  }

  .comment-list {
    margin-bottom: 50px;
    position: absolute;
    top: 10%;
    left: 7%;
  }
  

  .commentContainer {
    margin-top: 50px;
  }

  .comment-options button.delete-button {
    color: red;
  }


  .comment p {
    display: inline;
    margin-right: 10px;
  }
 