a {
  color: rgb(0, 0, 0);
}

h2 {
  color: black;
}

#header{
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:3%
}
#title-wrap{
  width:55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 15%;
}
#inform-wrap{
  width:25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left:5%

}
.backg {
  width: 1000px;
  background-color: rgb(247, 220, 225);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left:22%;
}

.contentText {
  font-weight: bold;
  font-size: 23px;
  margin-top: 3%;
  margin-left:-60%
}


.companyText {
  font-weight: bold;
  font-size: 23px;
  margin-top: 3%;
  margin-left:-60%
}

.commentText {
  font-weight: bold;
  font-size: 23px;
  margin-top: 3%;
  margin-left:-60%
}


.reportText {
  background-color: transparent; 
  border: none; 
  padding: 0; 
  font-size: 16px;
  text-underline-offset: 2px;
  color: rgb(248, 74, 74);
  text-decoration: underline;
}

.replyForm {
  position: absolute;
  top: 30%;
  left: 26%;
}

#reply-input {
  width: 300px;
}


.reply-form {
margin-top: 10px;
}

.reply-form textarea {
width: 450px;
height: 40px;
resize: vertical;
}

.reply-form button {
background-color: rgb(242, 173, 158);
color: rgb(0, 0, 0);
padding: 10px 10px;
position: absolute;
border: 1.5px solid black;
cursor: pointer;
}

.reply-form button:hover {
background-color: rgb(221, 150, 136);
}



.nickname {
font-size: 20px;
color: rgb(0, 0, 0);
text-align: center;
}


.title {
font-size: 40px;
font-weight: bold;
color: rgb(0, 0, 0);
text-align: center;

}


.modify {
background-color: transparent; 
border: none; 
padding: 0; 
font-size: 16px;
text-underline-offset: 2px;
color: rgb(0, 0, 0);
text-decoration: underline;
}

.delete {
background-color: transparent; 
border: none; 
padding: 0; 
font-size: 16px;
text-underline-offset: 2px;
color: rgb(255, 53, 53);
text-decoration: underline;
}

.views {
font-size: 18px;
text-underline-offset: 2px;
color: rgb(27, 27, 27);
}


.rectangleBar {
width: 800px;
height: 50px;
background-color: rgb(210, 153, 164);
border-radius: 5px;
display: flex;
justify-content: center;
}


.rectText1 {
  font-weight: bold;
  font-size: 22px;
  color: #ffffff;
  width:50%;
  text-align: center;
  align-self: center;
}

.rectMiddle {
  width: 2px;
  height: 100%;
  background-color: rgb(255, 255, 255);

}

.rectText2 {
  color: black;
  font-size: 22px;
  width:50%;
  text-align: center;
  align-self: center;

}

.rectText1:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.rectText2:hover {
  color: white;
  text-decoration: none;
}



.rectText2link {
  color: black;
  text-decoration: none;
}



.infoBoxLineUp {
  width:100%;
height: 1.5px;
background-color: rgb(0, 0, 0);
}

.infoBoxLineDown {
  width:100%;
height: 1.5px;
background-color: rgb(0, 0, 0);
}

.infoBoxLineMiddle {
width: 2px;
height: 100%;
background-color: rgb(223, 179, 179);
}

#infoBox-wrap{
  display: flex;
  flex-direction: column;
  width:70%;
  height: 283px;
}

#infoBox-content{
  display: flex;
  width:100%;
  height: 280px;
}
.infoBox {
width: 50%;
height: 100%;
background-color: rgb(247, 239, 239);

}

.infoBox2 {
width: 50%;
height: 100%;
background-color: rgb(247, 239, 239);

}


.infoCondition {
  font-size: 18px;
  margin-top: 30px;
  margin-left: 40px;
}


.infoEmployCount {
  font-size: 18px;
  margin-top: 30px;
  margin-left: 40px;
}

.infoEmployPrefer {
  font-size: 18px;
  margin-top: 30px;
  margin-left: 40px;
}

.infoApplyMethod {
  font-size: 18px;
  margin-top: 30px;
  margin-left: 60px;
}

.infoApplySchedule {
  font-size: 18px;
  margin-top: 30px;
  margin-left: 60px
}

.infoHashtag {
  font-size: 18px;
  margin-top: 30px;
  margin-left: 60px;
}



.contentBox {
  width: 700px;
  min-height: 750px;
  background-color: rgb(247, 239, 239);
  padding: 3%;
}
#contentImg{
  position:relative;
  width:100%;
}
#text-wrap{
  margin-top:3%;
}
.contentBoxUp {
  margin-top:3%;
  width: 700px;
  height: 1.5px;
  background-color: rgb(0, 0, 0);

}

.contentBoxDown {
  width: 700px;
  height: 1.5px;
  background-color: rgb(0, 0, 0);

}

.companyBox {
  width: 700px;
  height: 250px;
  background-color: rgb(247, 239, 239);
  display: flex;
}

.companyBoxUp {
  margin-top: 3%;

  width: 700px;
  height: 1.5px;
  background-color: rgb(0, 0, 0);
}

.companyBoxDown {
  width: 700px;
  height: 1.5px;
  background-color: rgb(0, 0, 0);
}

.companyImage {
  width: 18%;
  height: 120px;
  background-color: rgb(199, 199, 199);
  margin-top: 70px;
  margin-left: 80px;
  border:0;
}

.companyImageText {
  color: black;
  top: 35%;
  margin-left: 27px;
  font-size: 25px;
  position: relative;
}

.companyWriter {
  color: #535353;
  font-size: 20px;

}

.companyDate {
  color: #535353;
  font-size: 20px;

}

.companyName {
  color: #535353;
  font-size: 20px;

}

.companyType {
  color: #535353;
  font-size: 20px;
}
#company-text-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3%;
}

.goodCircle {
  width: 100px;
  height: 100px;
  top: 205%;
  left: 43%;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(236, 143, 143);
  border-radius: 50%;
  position: absolute;
}

.goodText {
  font-size: 17.5px;
  text-align: center;
  
}


.badCircle {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(236, 143, 143);
  border-radius: 50%;
}

.badText {
  font-size: 17.5px;
  text-align: center;
  
}

#button-wrap{
  margin-top:3%;
  width:100%;
  display: flex;
  justify-content: center;
}

.goodButton {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(236, 143, 143);
  border-radius: 50%;
  cursor: pointer;
}

.goodButton.clicked {
  background-color: rgb(255, 155, 171);
}

.badButton {
  width: 100px;
  height: 100px;
  margin-left:5%;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(236, 143, 143);
  border-radius: 50%;
  cursor: pointer;
}

.badButton.clicked {
  background-color: rgb(255, 155, 171);
}

.buttonLabel {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}

.commentBox {
  width: 700px;
  min-height: 200px;
  background-color: rgb(247, 239, 239);

}

.commentBoxUp {
  width: 700px;
  height: 1.5px;
  background-color: rgb(0, 0, 0);
  margin-top: 3%;
}

.commentBoxDown {
  width: 700px;
  height: 1.5px;
  background-color: rgb(0, 0, 0);
}

.commentId {
  font-size: 20px;
  top: 12%;
  left: 7%;
  position: absolute;
}

.commentContent {
  font-size: 20px;
  top: 12%;
  left: 27%;
  position: absolute;
}

.commentOfComment {
  font-size: 13px;
  font-weight: bold;
  top: 15%;
  left: 65%;
  position: absolute;
}

.commentModify {
  font-size: 13px;
  font-weight: bold;
  top: 15%;
  left: 75%;
  position: absolute;
}

.commentReport {
  font-size: 13px;
  color: rgb(247, 80, 80);
  font-weight: bold;
  top: 15%;
  left: 85%;
  position: absolute;
}

.reportMenu2 {
  display: none;
  position: absolute;
  top: 24%;
  left: 70%;
}

#reportReason2 {
  width: 200px;
  padding: 5px;
  margin-right: 10px;
}

#report-submit2 {
  background-color: #ff0000;
  color: #ffffff;
  padding: 5px 10px;
  cursor: pointer;
}


.commentSquare {
  width: 600px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  top: 200%;
  left: 28%;
  position: absolute;
}


#form-commentInfo{
  width: 130%;
  top: 65%;
  left: 10%;
  position: absolute;
}

#comment-input{
  width: 50%;
  height: 5.0em;
}

#submit{
  background-color: rgb(251, 136, 136);
  width: 6.5em;
  height: 5.0em;;
  font-size: 15px;
  font-weight: bold;
  color: aliceblue;
}

#voteUp, #voteDown{
  width: 3.5em;
  height: 1.9em;
  background-color: aqua;    
}

#comments{
  margin-top: 10px;
}

.eachComment{   
  width :50%; 
  margin: 10px;  
  padding: 0.5em; 
  border-bottom: 1px solid #c1bcba;
}

.eachComment .name{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.3em;
  display: flex;
  justify-content: space-between;
}

.eachComment .inputValue{
  font-size: 1.2em;
  font-style: italic;    
}

.eachComment .time{
  font-size: 0.7em;
  color: #c1bcba;
  font-style: oblique;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  
}

.eachComment .voteDiv{
  display: flex;
  justify-content: flex-end;
}

.eachComment .deleteComment{
  background-color: red;
  color: aliceblue;
}


/*
.comment-container {
margin-top: 20px;
}

.comment-title {
font-size: 18px;
font-weight: bold;
margin-bottom: 10px;
}

.comment-input-container {
display: flex;
margin-bottom: 10px;
position: absolute;
top: 200px;
  left: 40px;
}

#comment-input {
width: 500px;
max-height: 5em;
min-height: 5em;
}

#comment-submit {
width: 90px;
padding: 10px 10px;
margin-left: 10px;
cursor: pointer;
background-color: rgb(242, 173, 158);
}

.comment {
border: 1px solid #ccc;
padding: 10px;
margin-bottom: 10px;
}

.comment-options {
display: flex;
justify-content: flex-end;
margin-top: 5px;
}

.comment-options button {
margin-left: 10px;
cursor: pointer;
background-color: none;
border: none;

}

.comment-list {
margin-bottom: 10px;
position: absolute;
top: 10%;
left: 7%;
}


.commentContainer {
margin-top: 20px;
}

.comment-options button.delete-button {
color: red;
}


.comment p {
display: inline;
margin-right: 10px;
}

*/


.comment-container {
  margin-top: 20px;
}

.comment-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#comment-list{
  width:100%;
  min-height:55%;
}
.comment-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
  width:100%;
  height:27%;
}

#comment-input {
  width: 500px;
  max-height: 5em;
  min-height: 5em;
  position:relative;
}

#comment-submit {
  width: 90px;
  height: 5em;
  padding: 10px 10px;
  margin-left: 10px;
  cursor: pointer;
  background-color: rgb(242, 173, 158);
}

.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-options {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.comment-options button {
  margin-left: 10px;
  cursor: pointer;
  background-color: none;
  border: none;

}

.comment-list {
  margin-bottom: 50px;
  position: absolute;
  top: 10%;
  left: 7%;
}


.commentContainer {
  margin-top: 50px;
}

.comment-options button.delete-button {
  color: red;
}


.comment p {
  display: inline;
  margin-right: 10px;
}
