h1 {
    text-align: center;
    margin-top: 10%;
}

input, button {
    border: none;
}

.choice_c_p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
}

.sign_up_c,
.sign_up_p {
    margin: 0 15px 0 15px;
    width: 278px;
    height: 96px;
    border-radius: 3px;
    background: #FFC3C3;

    display: flex;
    justify-content: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}