h1 {
    text-align: center;
    margin-top: 10%;
}

input, button {
    border: none;
}
::placeholder{
    color: black;
}

.form_signup {
    margin: 0 0 17% 0;
}

.signup_c_p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around; */
    margin-top: 3%;
}

/* .input_id { */
.input_id_nickname{
    width: 342px;
    height: 62px;
    border-radius: 3px;
    background: #FFE5E5;

    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 0 0 10px;
}

/* .id_check { */
.check_button{
    width: 87px;
    height: 62px;
    border-radius: 3px;
    background: #FFC3C3;
    
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

}

/* .input_pw,.input_pw_check,.input_company,.input_age { */
.input_box{
    width: 460px;
    height: 62px;
    border-radius: 3px;
    background: #FFE5E5;

    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 0 0 10px;
}

.interest_table,
.academic_table {
    display: unset;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: start;
}
#gender_man,
#gender_woman,
#gender_hide,
.interest_button,
.aca_button,
.input_file {
    display: none;
}

.user_gender {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#old_gender_label_1,
#old_gender_label_2,
#old_gender_label_3 {
    margin: 0 3% 0 0;
}

.change_label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 3% 8% 0;
    width: 4rem;
    height: 2.5rem;
    border-radius: 3px;
    background: #FFE5E5;

    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
}

.change_label:hover {
    background: #ffbdbd;
}

.error_message {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: red;  
}

.input_img,
.input_career {
    width: 152px;
    height: 32px;
    border-radius: 3px;
    background: #ffbdbd;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}

.signup_button_wrap {
    display: flex;
    justify-content: center;
}

.signup_button {
    margin: 8% 0 3% 0;
    width: 382px;
    height: 50px;
    border-radius: 3px;
    background: #ffbdbd;

    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}