{% load static %}
<!--게시글 리스트 페이지 & 게시글 확인 페이지-->
<!DOCTYPE html>
<html lang="ko">

<head>
    <link type="text/css" rel="stylesheet" href="{% static 'css/Q&A/Q&A_before.css' %}"><meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</script>

    <title>게시글 확인 페이지</title>

</head>

<body>
    {% include 'header2.html' %}
    <div class="backg"></div>

    <div class="rectangleBar">
        <h2><a class="rectText1" href="{% url 'employ:employ_post_detail' post.id %}">모집공고</a></h2>
        <div class="rectMiddle"></div>
        <h2><a class="rectText2" href="{% url 'employ:QA_list' post.id %}">Q&A</a></h2>
    </div>
    

    <div class="infoBox">
        <h2 class="infoCondition">고용형태(인턴/정규직/비정규직)<br>[{{post.employ_shape}}]</h2>
        <h2 class="infoEmployCount">채용자 수<br>[{{post.required_num}}]</h2>
        <h2 class="infoEmployPrefer">우대조건<br>[{{post.prefer_condition}}]</h2>
    </div>

    <div class="infoBox2">
        <h2 class="infoApplyMethod">지원 방법<br>[{{post.apply_method}}]</h2>
        <h2 class="infoApplySchedule">지원 일정<br>[{{post.start_date|date:'Y-m-d H:i'}} ~ {{post.end_date|date:'Y-m-d H:i'}}]</h2>
        <h2 class="infoHashtag">해시태그<br>[
            {% for hashtag in post.hashtag_set.all %}
                {{hashtag}}
                {% if not forloop.first %}
                    ,&nbsp;
                {% endif %}
            {% endfor %}
            ]</h2>
    </div>


    <div class="infoBoxLineUp"></div>
    <div class="infoBoxLineDown"></div>
    <div class="infoBoxLineMiddle"></div>



    <div class="contentBox">
        <h2 class="questiontitle">질문 제목: {{question.title}}</h2>
        <button class="searchBox" type="button" value="Button">질문 작성하기</button>
        <div class="questionContent">
            <h2 class="questionText">[내용]<br>{{question.content}}</h2>
        </div>
    </div>
    <div class="contentBoxUp"></div>
    <div class="contentBoxDown"></div>
    {% if answers %}
<!--
        {% for answer in answers %}
            <div class="contentReBox">
                <h2 class="answertitle">답변: RE: [{{question.title}}] </h2>
                <div class="answerContent">
                    <h2 class="answerText">[내용]<br>{{answer.title}}</h2>
                </div>
            </div>
        {% endfor %}
        <div class="contentReBoxUp"></div>
        <div class="contentReBoxDown"></div>
    {% endif %} -->


    
    <h2 class="nickname">{{post.userable.name}}</h2>
    <h2 class="title">{{post.title}}</h2>

    {% if post.userable == request.user %}
        <a href="{% url 'employ:update_employ_post' post.id %}" class="modifyText">수정하기</a>
        <a href="{% url 'employ:update_employ_post' post.id %}" class="deleteText">삭제하기</a>
    {% else %}
        <h2 class="reportText">신고하기</h2>
    {% endif %}
    <div class="reportMenu2" style="display: none;">
        <select id="reportReason2">
          <option value="">사유를 선택하세요</option>
          <option value="사칭/사기">사칭/사기</option>
          <option value="욕설/비하">욕설/비하</option>
          <option value="상업적 광고 및 판매">상업적 광고 및 판매</option>
          <option value="기타">기타</option>
        </select>
        <button id="report-submit2">신고</button>
      </div>

    <script src="..\..\static\js\Q&A\Q&A_before.js"></script>
</body>

</html>



