{% load static %}
<!--게시글 리스트 페이지 & 게시글 확인 페이지-->
<!DOCTYPE html>
<html lang="ko">

<head>
    <link type="text/css" rel="stylesheet" href="{% static 'css/Post/postView.css' %}"><meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'css/Q&A/Q&A_before.css' %}"><meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</script>

    <title>게시글 확인 페이지</title>

</head>

<body>
    {% include 'header2.html' %}
    <div class="backg">
        <div id = "header">
            <div id = "title-wrap">
                <h2 class="nickname">{{post.userable.name}}</h2>
                <h2 class="title">{{post.title}}</h2>
            </div>
            <div id = "inform-wrap">
                {% if post.userable == request.user %}
                    <a href="{% url 'employ:update_employ_post' post.id %}" class="modifyText">수정하기</a>
                    <a href="{% url 'employ:delete_employ_post' post.id %}" class="deleteText">삭제하기</a>
                {% else %}
                    <h2 class="reportText">신고하기</h2>
                {% endif %}
                <h2 class="views">조회수 {{post.views}}회</h2>
                <div class="reportMenu2" style="display: none;">
                    <select id="reportReason2">
                    <option value="">사유를 선택하세요</option>
                    <option value="사칭/사기">사칭/사기</option>
                    <option value="욕설/비하">욕설/비하</option>
                    <option value="상업적 광고 및 판매">상업적 광고 및 판매</option>
                    <option value="기타">기타</option>
                    </select>
                    <button id="report-submit2">신고</button>
                </div>

            </div>
        </div>
        <div class="rectangleBar">
            <h2 class="rectText1"><a  href="{% url 'employ:employ_post_detail' post.id %}">모집공고</a></h2>
            <div class="rectMiddle"></div>
            <h2 class="rectText2"><a  href="{% url 'employ:QA_list' post.id %}">Q&A</a></h2>
        </div>
        
        <div id = "infoBox-wrap">
            <div class="infoBoxLineUp"></div>
            <div id = "infoBox-content">
                <div class="infoBox">
                    <h2 class="infoCondition">고용형태(인턴/정규직/비정규직)<br>[{{post.employ_shape}}]</h2>
                    <h2 class="infoEmployCount">채용자 수<br>[{{post.required_num}}]</h2>
                    <h2 class="infoEmployPrefer">우대조건<br>[{{post.prefer_condition}}]</h2>
                </div>
                <div class="infoBoxLineMiddle"></div>
                <div class="infoBox2">
                    <h2 class="infoApplyMethod">지원 방법<br>[{{post.apply_method}}]</h2>
                    <h2 class="infoApplySchedule">지원 일정<br>[{{post.start_date|date:'Y-m-d H:i'}} ~ {{post.end_date|date:'Y-m-d H:i'}}]</h2>
                    <h2 class="infoHashtag">해시태그<br>[
                        {% for hashtag in hashtags %}
                            
                            {% if not forloop.first %}
                                ,&nbsp;
                            {% endif %}
                            {{hashtag}}
                        {% endfor %}
                        ]</h2>
                </div>
            </div>
            <div class="infoBoxLineDown"></div>
        </div>
        <div class="contentBoxUp"></div>
        <div class="contentBox">
            <div id = "question-title-wrap">
                <h2 class="questiontitle">질문 제목: {{question.title}}</h2>
                <button class="searchBox" type="button" value="Button" onclick = "location.href = '{% url 'employ:create_answer' post.id question.id %}'">답변 작성하기</button>
            </div>
            
            <div class="questionContent">
                <h2 class="questionText">[내용]<br></h2>
                <img id = "question-img" src = "{{question.image.url}}">
                <h2 class="questionText">{{question.content}}</h2>
            </div>
        </div>
        
        {% if answers %}
    
            {% for answer in answers %}
                <div class="contentReBoxUp"></div>
                <div class="contentReBox">
                    <h2 class="answertitle">답변: RE: [{{question.title}}] </h2>
                    <div class="answerContent">
                        <h2 class="answerText">[내용]<br>{{answer.content}}</h2>
                    </div>
                </div>
                <div class="contentReBoxDown"></div>
            {% endfor %}
            
            
        {% endif %}
    
    
        
        
    
        

    </div>

    
    <script src="{% static 'js/Q&A/Q&A_before.js' %}"></script>
</body>

</html>



