{% extends 'header.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

{% block static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/mypage_css/change_c_p.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/signup_change.js"></script>

    <title>구직자 회원정보수정</title>
</head>
{% endblock %}
{% block content %}
<body>
    
    <h1 class="serviceName">청취자들</h1>

    <div class="change_p">
        <form action="{% url 'update_account' %}" method="POST" enctype="multipart/form-data">
            <div class="id">
                <h3 class="h3_id">아이디</h3>
                <input type="text" class="user_id" value="{{user.username}}" disabled>
            </div>
            <div class="pw">
                <h3 class="h3_pw">비밀번호</h3>
                <input type="button" class="change_pw" value="비밀번호 변경하기" onclick="location.href='{% url 'update_password' %}'">
            </div>
            <input type="password" class="user_pw" value="**********" disabled></input>
            <div class="name">
                <h3 class="h3_name">이름</h3>
                <input class="user_name" name="name" value="{{user.name}}"></input>
            </div>
            <div class="nickname">
                <h3 class="h3_nickname">닉네임</h3>
                <p class="user_nickname">{{detail_user.nickname}}</p>
                
            </div>
            <div class="gender">
                <h3 class="h3_gender">성별</h3>
                <div class="user_gender">
                    <input type="radio" id="gender_1" name="gender" value="남자"></input>
                    <label for="gender_1" id="old_gender_label_1" class="change_label" onclick="button_1()"> <span class="change_span">남자</span> </label>
                    <input type="radio" id="gender_2" name="gender" value="여자"></input>
                    <label for="gender_2" id="old_gender_label_2" class="change_label" onclick="button_1()"><span class="change_span">여자</span></label>
                    <input type="radio" id="gender_3" name="gender" value="밝히지 않음"></input>
                    <label for="gender_3" id="old_gender_label_3" class="change_label" onclick="button_1()"><span class="change_span">밝히지않음</span></label>
                </div>
            </div>
            <div class="age">
                <h3 class="h3_age">나이</h3>
                <input type="number" class="user_age" min="1" name="age" placeholder="나이를 입력해주세요" value = "{{user.applicant.age}}"></input>
            </div>
            <div class="interesting">
                <h3 class="h3_interest">관심분야</h3>
                <div class="interest_table">
                    <input type="checkbox" id="checkbox1" class="interest_button" name="interest" value = "전기전자"></input><input
                        type="checkbox" id="checkbox2" class="interest_button" name="interest" value = "조선업"></input><input
                        type="checkbox" id="checkbox3" class="interest_button" name="interest" value = "it"></input><input
                        type="checkbox" id="checkbox4" class="interest_button" name="interest" value = "의료"></input><input
                        type="checkbox" id="checkbox5" class="interest_button" name="interest" value = "디지털"></input><input
                        type="checkbox" id="checkbox6" class="interest_button" name="interest" value = "기획전략"></input><input
                        type="checkbox" id="checkbox7" class="interest_button" name="interest" value = "의류산업"></input><input
                        type="checkbox" id="checkbox8" class="interest_button" name="interest" value = "교육"></input><input
                        type="checkbox" id="checkbox9" class="interest_button" name="interest" value = "금융"></input><input
                        type="checkbox" id="checkbox10" class="interest_button" name="interest" value = "상품기획"></input><input
                        type="checkbox" id="checkbox11" class="interest_button" name="interest" value = "물류"></input><input
                        type="checkbox" id="checkbox12" class="interest_button" name="interest" value = "회계재무"></input><input 
                        type="checkbox" id="checkbox13" class="interest_button" name="interest" value = "서비스"></input><input
                        type="checkbox" id="checkbox14" class="interest_button" name="interest" value = "공공복지"></input><input
                        type="checkbox" id="checkbox15" class="interest_button" name="interest" value = "미디어"></input><input
                        type="checkbox" id="checkbox16" class="interest_button" name="interest" value = "농림어업"></input><input
                        type="checkbox" id="checkbox17" class="interest_button" name="interest" value = "건설토목"></input><input
                        type="checkbox" id="checkbox18" class="interest_button" name="interest" value = "스포츠레크레이션"></input>
                    <label for="checkbox1" id="old_label_1" class="change_label" onclick="button_2()"><span class="change_span">전기전자</span></label><label
                        for="checkbox2" id="old_label_2" class="change_label" onclick="button_2()"><span class="change_span">조선업</span></label><label
                        for="checkbox3" id="old_label_3" class="change_label" onclick="button_2()"><span class="change_span">IT</span></label><label
                        for="checkbox4" id="old_label_4" class="change_label" onclick="button_2()"><span class="change_span">의료</span></label><label
                        for="checkbox5" id="old_label_5" class="change_label" onclick="button_2()"><span class="change_span">디지털</span></label><label
                        for="checkbox6" id="old_label_6" class="change_label" onclick="button_2()"><span class="change_span">기획전략</span></label><label 
                        for="checkbox7" id="old_label_7" class="change_label" onclick="button_2()"><span class="change_span">의류산업</span></label><label
                        for="checkbox8" id="old_label_8" class="change_label" onclick="button_2()"><span class="change_span">교육</span></label><label
                        for="checkbox9" id="old_label_9" class="change_label" onclick="button_2()"><span class="change_span">금융</span></label><label
                        for="checkbox10" id="old_label_10" class="change_label" onclick="button_2()"><span class="change_span">상품기획/MD</span></label><label
                        for="checkbox11" id="old_label_11" class="change_label" onclick="button_2()"><span class="change_span">물류</span></label><label
                        for="checkbox12" id="old_label_12" class="change_label" onclick="button_2()"><span class="change_span">회계/재무</span></label><label 
                        for="checkbox13" id="old_label_13" class="change_label" onclick="button_2()"><span class="change_span">서비스</span></label><label
                        for="checkbox14" id="old_label_14" class="change_label" onclick="button_2()"><span class="change_span">공공복지</span></label><label
                        for="checkbox15" id="old_label_15" class="change_label" onclick="button_2()"><span class="change_span">미디어</span></label><label
                        for="checkbox16" id="old_label_16" class="change_label" onclick="button_2()"><span class="change_span">농림/어업</span></label><label
                        for="checkbox17" id="old_label_17" class="change_label" onclick="button_2()"><span class="change_span">건설/토목</span></label><label
                        for="checkbox18" id="old_label_18" class="change_label" onclick="button_2()"><span class="change_span">스포츠/레크레이션</span></label>

                </div>
            </div>
            <div class="academic">
                <h3 class="h3_academic">학력</h3>
                <div class="academic_table">
                    <input type="radio" id="aca_checkbox1" class="aca_button" name="school" value="중졸"></button><input
                        type="radio" id="aca_checkbox2" class="aca_button" name="school" value="고졸"></button><input
                        type="radio" id="aca_checkbox3" class="aca_button" name="school" value="대학교2,3년제"></button><input
                        type="radio" id="aca_checkbox4" class="aca_button" name="school" value="대학교4년제"></button><input
                        type="radio" id="aca_checkbox5" class="aca_button" name="school" value="졸업예정자"></button><input
                        type="radio" id="aca_checkbox6" class="aca_button" name="school" value="졸업자"></button>
                    <label for="aca_checkbox1" id="old_aca_label_1" class="change_label" onclick="button_3()"><span class="change_span">중졸</span></label><label
                        for="aca_checkbox2" id="old_aca_label_2" class="change_label" onclick="button_3()"><span class="change_span">고졸</span></label><label
                        for="aca_checkbox3" id="old_aca_label_3" class="change_label" onclick="button_3()"><span class="change_span">대학교2,3년제</span></label><label
                        for="aca_checkbox4" id="old_aca_label_4" class="change_label" onclick="button_3()"><span class="change_span">대학교4년제</span></label><label
                        for="aca_checkbox5" id="old_aca_label_5" class="change_label" onclick="button_3()"><span class="change_span">졸업예정자</span></label><label
                        for="aca_checkbox6" id="old_aca_label_6" class="change_label" onclick="button_3()"><span class="change_span">졸업자</span></label>
                </div>
            </div>
            <div class="career">
                <h3 class="h3_career">경력</h3>

                <input type="file" id="input_file" class="input_file" onchange="display_filename(this)">
                <p id="filename"></p>
                <label for="input_file" class="input_career">파일첨부</label>
            </div>
            <div class="change_button_wrap">
                <input type="submit" class="change_button" value="회원정보 수정하기">
            </div>
        </form>
        <div class="delete">
            <a href="{% url 'delete_account' %}" class="move_delete_p">계정삭제하기</a>
        </div>
    </div>

</body>
{% endblock %}
</html>