{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/mypage_css/change_complete.css">
    <title>비밀번호수정완료 팝업</title>
</head>
{% endblock %}
{% block content %}
<body>
    <form action="" class="pop_up">
        <div class="pop_up">
            <div class="close">
                <img src="/static/img/Union.png" alt="x">
            </div>
                <h2 class="text">비밀번호 변경이 완료되었습니다<br>다시 로그인하세요</h2>

            <input type="button" class="complete" value="확인" onclick="location.href='{% url 'account_logout' %}'">
        </div>
    </form>
    <!-- onclick='location.href'=login.html' -->
</body>
{% endblock %}
</html>