<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/mypage_css/delete_error.css">
    <title>계정 삭제하기</title>
</head>
<body>
    <h1 class="serviceName">청취자들</h1>

    <form class="delete_pw">
        <div class="pw">
            <h3 class="h3_pw">비밀번호</h3>
            <input type="text" class="input_pw" placeholder="비밀번호를 입력해주세요">
            <p class="error_message">영문+숫자+특수문자를 포함한 8-20자리를 입력해주세요</p>
        </div>
        <div class="check_pw">
            <h3 class="h3_check_pw">비밀번호 변경</h3>
            <input type="text" class="input_check_pw" placeholder="비밀번호를 입력해주세요">
            <p class="error_message">비밀번호가 일치하지 않습니다</p>
        </div>

        <input type="submit" class="button_delete_pw" value="계정 삭제하기">
    </form>

</body>
</html>