{% extends 'header.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
{% block static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/css/mypage_css/my_library.css">

    <title>내가 작성한 글</title>
</head>
{% endblock %}
{% block content %}
<body>
    <div class="my_library">
        <div class="a_text">
        <a class="move_text" href="{% url 'my_posts_detail' %}">내가 작성한 글 ></a>
        <a class="move_mypage" href="{% url 'my_page' %}">마이페이지로 돌아가기</a>
        </div>
        <hr>
        <div class="notice_table">
            {% for post in post %}
                <div class="notice" id="notice_1">
                    <a href="{% url 'post_detail' post_id %}" class="notice_title">{{post.title}}</a>
                    <a href="#" class="hits">{{post.views}}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% include 'pagination.html' %}
</body>
{% endblock %}
</html>