{% extends 'header.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
{% block static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mypage_css/mypage.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    

    <title>마이페이지_1</title>
</head>
{% endblock %}
{% block content %}
<body>
    <div class="profile"> <!--js에 의해 바뀌지 않는 프로필 상단-->
        <div class="profile_box">
            {% if detail_user.type == '구직자' %}
                {% if detail_user.career %}
                    <img src="{{ detail_user.career.url }}" alt="#">
                {% endif %}
            {% else %}
                {% if detail_user.image %}
                    <img src="{{ detail_user.image.url }}" alt="#">
                {% endif %}
            {% endif %}
            {% if detail_user.type == '구직자' %}
                <input type="text" class="profile_nickname" value="{{detail_user.nickname}}" disabled>
            {% elif detail_user.type == '구인자' %}
                <input type="text" class="profile_nickname" value="{{detail_user.company}}" disabled>
            {% endif %}
        </div>
        <div class="mypage_buttons">
            <input type="button" class="mypage_button" id="mypage_button_1" value="개인정보 관리" onclick="show_mypage1()">
            
            <input type="button" class="mypage_button" id="mypage_button_2" value="내가 작성한 글" onclick="show_mypage2()">
        </div>
    </div>
    <div class="mypage_1" id="mypage_1"> <!--프로필 하단 박스(개인정보 관리)-->
        <a class="move_text" href="{% url 'check_user_password' %}">개인정보 수정 ></a>
        <hr>
        <div class="personal_infor">
            <div class="infor_box">
                <input type="text" class="infor_title" value="아이디" disabled>
                <input type="text" class="infor_text" value="{{user.username}}" disabled>
            </div>
            <div class="infor_box">
                <input type="text" class="infor_title" value="비밀번호" disabled>
                <input type="password" class="infor_text" value="**********" disabled>
            </div>
            <div class="infor_box">
                <input type="text" class="infor_title" value="이름" disabled>
                <input type="text" class="infor_text" value="{{user.name}}" disabled>
            </div>
            <div class="interesting">
                <input type="text" class="infor_title" value="관심분야" disabled>
                <div class="interest_table">
                    {% for interest in interest_list %}
                        <input type="checkbox" id="checkbox1" class="interest_button" name="interest" value="{{interest}}" checked="true">
                        <label for="checkbox1" id="old_label_1" class="change_label" onclick="button_2()"><span class="change_span">{{interest}}</span></label>
                        {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
    <div class="mypage_2" id="mypage_2"><!--프로필 하단 박스(내가 작성한 글)-->
        <a class="move_text" href="{% url 'my_posts_detail' %}">내가 작성한 글 ></a>
        <hr>
        <div class="notice_table">
            {% for post in posts %}
                <div class="notice" id="notice_1">
                    <a href="/p" class="notice_title">{{post.title}}</a>
                    <a href="#" class="views">조회수 {{post.views}}회</a>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <script>var interests = "{{interest_list|safe}}"</script>
    <script src="/static/js/mypage.js"></script>
</body>
{% endblock %}
</html>