{% extends 'header.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
{% block static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="/static/css/mypage_css/mypage.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="/static/js/mypage.js"></script>
    

    <title>마이페이지_1</title>
</head>
{% endblock %}
{% block content %}
<body>
    <div class="profile"> <!--js에 의해 바뀌지 않는 프로필 상단-->
        <div class="profile_box">
            <img src="" alt="###">
            <input type="text" class="profile_nickname" value="{{user.nickname}}" disabled>
        </div>
        <div class="mypage_buttons">
            <input type="button" class="mypage_button" id="mypage_button_1" value="개인정보 관리" onclick="show_mypage1()">
            
            <input type="button" class="mypage_button" id="mypage_button_2" value="내가 작성한 글" onclick="show_mypage2()">
        </div>
    </div>
    <div class="mypage_1" id="mypage_1"> <!--프로필 하단 박스(개인정보 관리)-->
        <a class="move_text" href="{% url 'check_user_password' %}">개인정보 수정 ></a>
        <hr>
        <div class="personal_infor">
            <div class="infor_box">
                <input type="text" class="infor_title" value="아이디" disabled>
                <input type="text" class="infor_text" value="{{user.username}}" disabled>
            </div>
            <div class="infor_box">
                <input type="text" class="infor_title" value="비밀번호" disabled>
                <input type="password" class="infor_text" value="**********" disabled>
            </div>
            <div class="infor_box">
                <input type="text" class="infor_title" value="관심분야" disabled>
                {% for interest in interest %}
                    <input type="text" class="infor_text" value="{{interest}}" disabled>
                {% endfor %}
            </div>
            <div class="infor_box">
                <input type="text" class="infor_title" value="이름" disabled>
                <input type="text" class="infor_text" value="{{user.name}}" disabled>
            </div>
            <div class="infor_box">
                <input type="text" class="infor_title" value="닉네임" disabled>
                <input type="text" class="infor_text" value="{{detail_user.nickname}}" disabled>
            </div>
            <div class="infor_box">
                <input type="text" class="infor_title" value="학력" disabled>
                <input type="text" class="infor_text" value="{{detail_user.school}}" disabled>
            </div>
            <div class="infor_box">
                <input type="text" class="infor_title" value="나이" disabled>
                <input type="text" class="infor_text" value="{{detail_user.age}}" disabled>
            </div>
            <div class="infor_box">
                <input type="text" class="infor_title" value="성별" disabled>
                <input type="text" class="infor_text" value="{{detail_user.gender}}" disabled>
            </div>
            <div class="infor_box">
                <input type="text" class="infor_title" value="경력" disabled>
                <!-- 파일 다운로드 버튼 -->
                <input type="button" class="infor_text_file" value="파일 다운로드하기" disabled>
            </div>
        </div>
    </div>
    <div class="mypage_2" id="mypage_2"><!--프로필 하단 박스(내가 작성한 글)-->
        <a class="move_text" href="{% url 'my_posts_detail' %}">내가 작성한 글 ></a>
        <hr>
        <div class="notice_table">
            {% for post in post %}
                <div class="notice" id="notice_1">
                    <a href="#" class="notice_title">{{post.title}}</a>
                    <a href="#" class="hits">조회수 {{post.views}}회</a>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>