{% extends 'header.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
{% block static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login_signup_css/sign_up_fin.css">

    <title>회원가입 완료</title>
</head>
{% endblock %}
{% block content %}
<body>

    <h1 class="serviceName">청취자들</h1>

    <div class="signup_fin">
        <p class="show_id">아이디 : [#아이디]</p>

        <p class="fin_message">회원가입이 완료되었습니다.</p>
    
        <div class="move_login_page">
            <input type="button" class="move_login_page" value="로그인하기">
        </div>  
    </div>
</body>
{% endblock %}
</html>