{% load static %}
<!--게시글 리스트 페이지 & 게시글 확인 페이지-->
<!DOCTYPE html>
<html lang="ko">

<head>
    <!--<link rel="stylesheet" href=".static/css/postCheck.css" />-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'css/post/postFree.css' %}"/>
    </script>
    <title>게시글 확인 페이지</title>
</head>

<body>
{% include 'header2.html' %}
<div class="backg"></div>

<div class="rectangleBar"></div>

<h2 class="contentText">게시물내용</h2>
<div class="contentBox">{{post.content}}</div>
<div class="contentBoxUp"></div>
<div class="contentBoxDown"></div>

<button class="goodButton" type="button" value="Button" onclick="toggleLike()">
    <h2 class="goodText">{{post.like_set.count}}👍<br>좋아요</h2>
</button>

<button class="badButton" type="button" value="Button" onclick="toggleNotLike()">
    <h2 class="badText">{{post.dislike_set.count}}👎<br>싫어요</h2>
</button>


<h2 class="commentText">댓글</h2>

<div class="commentBox">
    <div class="comment-input-container">
        <textarea id="comment-input" placeholder="댓글을 작성하세요"></textarea>
        <button id="comment-submit">SEND</button>
    </div>

    <div id="comment-list">
        {% for comment in post.comment_set.all %}
            <div class="comment"><p>[{{comment.userable.name}}]</p>
                <p>{{comment.content}}</p>
                <div class="comment-options">
                    <button>대댓글 달기</button>
                    <button>수정하기</button>
                    <delete-button> 삭제하기</delete-button>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<div class="commentBoxUp"></div>
<div class="commentBoxDown"></div>


<h2 class="nickname">{{post.userable.name}}</h2>
<h2 class="title">{{post.title}}</h2>
{% if post.userable == request.user %}
<a href="h" class="modifyText" href="#">수정하기</a>
<a href="h" class="deleteText" href="#">삭제하기</a>
{% else %}
<h2 class="reportText">신고하기</h2>
{% endif %}

<div class="reportMenu2" style="display: none;">
    <select id="reportReason2">
        <option value="">사유를 선택하세요</option>
        <option value="사칭/사기">사칭/사기</option>
        <option value="욕설/비하">욕설/비하</option>
        <option value="상업적 광고 및 판매">상업적 광고 및 판매</option>
        <option value="기타">기타</option>
    </select>
    <button id="report-submit2">신고</button>
</div>

<h2 class="views">조회수 {{post.views}}회</h2>

<script src="{% static 'js\post\postFree.js' %}"></script>
</body>
</html>

<!--좋아요/싫어요 버튼 클릭 기능 구현 -->



