{% load static %}
<!--게시글 리스트 페이지 & 게시글 확인 페이지-->
<!DOCTYPE html>
<html lang="ko">

<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="{% static 'css/post/postView.css' %}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </script>

    <title>게시글 확인 페이지</title>

</head>

<body>
    {% include "header2.html" %}
    <div class="backg">
        <div id = "header">
            <div id = "title-wrap">
                <h3 class="nickname">{{post.userable.name}}</h3>
                <h2 class="title">{{post.title}}</h2>
            </div>
            <div id = "inform-wrap">
                {% if post.userable == request.user %}
                <a href="{% url 'employ:update_employ_post' post.id %}" class="modify">수정하기</a>
                <a href="{% url 'employ:delete_employ_post' post.id %}" class="delete">삭제하기</a>
                {% else %}

                <p class="reportText">신고하기</p>
                {% endif %}
                <div class="reportMenu2" style="display: none;">
                    <select id="reportReason2">
                        <option value="">사유를 선택하세요</option>
                        <option value="사칭/사기">사칭/사기</option>
                        <option value="욕설/비하">욕설/비하</option>
                        <option value="상업적 광고 및 판매">상업적 광고 및 판매</option>
                        <option value="기타">기타</option>
                    </select>
                    <button id="report-submit2">신고</button>
                </div>
                <h2 class="views">조회수 {{post.views}}회</h2>
            </div>
        </div>
        
        
        <div class="rectangleBar">
            <h2 class="rectText1"><a  href="{% url 'employ:employ_post_detail' post.id %}">모집공고</a></h2>
            <div class="rectMiddle"></div>
            <h2 class="rectText2"><a href="{% url 'employ:QA_list' post.id %}">Q&A</a></h2>
        </div>

        <div id = "infoBox-wrap">
            <div class="infoBoxLineUp"></div>
        
            <div id = "infoBox-content">
                <div class="infoBox">
                    <h2 class="infoCondition">고용형태(인턴/정규직/비정규직)<br>[{{post.employ_shape}}]</h2>
                    <h2 class="infoEmployCount">채용자 수<br>[{{post.required_num}}]</h2>
                    <h2 class="infoEmployPrefer">우대조건<br>[{{post.prefer_condition}}]</h2>
                </div>
                <div class="infoBoxLineMiddle"></div>
                <div class="infoBox2">
                    <h2 class="infoApplyMethod">지원 방법<br>[{{post.apply_method}}]</h2>
                    <h2 class="infoApplySchedule">지원 일정<br>[{{post.start_date|date:'Y-m-d'}} ~ {{post.end_date|date:'Y-m-d'}}]</h2>
        
                </div>
            </div>
            
            <div class="infoBoxLineDown"></div>
        </div>
        


        

        <h2 class="contentText">공고 내용</h2>
        <div class="contentBoxUp"></div>
        <div class="contentBox">
            <img id = "contentImg" src = "{{post.image.url}}">
            <div id = "text-wrap">{{post.content}}</div>
        </div>
        <div class="contentBoxDown"></div>


        <h2 class="companyText">기업 정보</h2>
        <div class="companyBoxUp"></div>
        <div class="companyBox">
            <!--companyImageText-->
            <button class="companyImage" type="button" value="Button">
                <h2>image</h2>
            </button>
            <div id = "company-text-wrap">
                <h2 class="companyWriter">작성자 : {{post.userable.name}}</h2>
                <h2 class="companyDate">업로드 일자 : {{post.created_at|date:'Y-m-d'}}</h2>
                <h2 class="companyName">회사명 : {{post.userable.company}}</h2>
                <h2 class="companyType">회사업종 : 
                    {% for interest in post.userable.interest.all %}
                        {% if not forloop.first %}
                            ,&nbsp;
                        {% endif %}
                        {{interest.interest.name}}
                        
                    {% endfor %}
                </h2>
            </div>
            
        </div>
        <div class="companyBoxDown"></div>


        <div id = "button-wrap">
            <button class="goodButton" type="button" value="Button" onclick="toggleLike()">
                <h2 class="goodText">{{post.like_set.count}}👍<br>좋아요</h2>
            </button>
    
            <button class="badButton" type="button" value="Button" onclick="toggleDislike()">
                <h2 class="badText">{{post.dislike_set.count}}👎<br>싫어요</h2>
            </button>
        </div>  
        


        <div class="reportMenu" style="display: none;">
            <select id="reportReason">
                <option value="">사유를 선택하세요</option>
                <option value="사칭/사기">사칭/사기</option>
                <option value="욕설/비하">욕설/비하</option>
                <option value="상업적 광고 및 판매">상업적 광고 및 판매</option>
                <option value="기타">기타</option>
            </select>
            <button id="report-submit">신고</button>
        </div>


        <h2 class="commentText">댓글</h2>
        <div class="commentBoxUp"></div>
        <div class="commentBox">

            <div id="comment-list">
                {% for comment in post.comment_set.all %}
                <div id="{{comment.id}}" class="comment">
                    <p>[{{comment.userable.name}}]</p>
                    <p class="comment_content">{{comment.content}}</p>
                    <div class="comment-options">
                        <button class="recomment" onclick="createReplyForm(this)">대댓글 달기</button>
                        <!--<button onclick = "location.href = '{% url 'job:update_job_post' post.id %}'">수정하기</button>-->
                        <button class="comment_update" onclick="updateComment(this)">수정하기</button>
                        <delete-button>삭제하기</delete-button>
                    </div>
                    {% for reply in comment.reply_set.all %}
                    <div id="{{reply.id}}" class="reply">
                        <p>└ RE: [{{reply.userable.name}}]</p>
                        <p class="reply_content">{{reply.content}}</p>
                        <div class="comment-options">
                            <button class="reply_update" onclick="updateReply(this)">수정하기</button>
                            <delete-button onclick="deleteReply(this)"> 삭제하기</delete-button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div class="comment-input-container">
                <textarea id="comment-input" placeholder="댓글을 작성하세요"></textarea>
                <button id="comment-submit">SEND</button>
            </div>
        </div>
        

        
        <div class="commentBoxDown"></div>
    </div>



    <script type="text/javascript">var post_id = "{{post.id}}"</script>
    <script src="{% static 'js/post/postView.js' %}"></script>
</body>

</html>