{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/findwork_company_QnA/free_write_style.css' %}">

</head>
<body>
{% include 'header2.html' %}
    {% if type == "post_j" %}
        {% if post %}
            <form action="{% url 'job:update_job_free_post' post.id %}" method="POST" enctype="multipart/form-data">
        {% else %}
            <form action="{% url 'job:create_job_free_post' %}" method="POST" enctype="multipart/form-data">
        {% endif %}
    {% else %}
        {% if post %}
            <form action="{% url 'employ:update_employ_free_post' post.id %}" method="POST" enctype="multipart/form-data">
        {% else %}
            <form action="{% url 'employ:create_employ_free_post' %}" method="POST" enctype="multipart/form-data">
        {% endif %}
    {% endif %}
        <div class="container">
            <b id= "certification_photo_text">제목</b>
            <input type="text" style="border:0 solid black" id="title5" name="title" value = "{{post.title}}" placeholder="제목을 입력해주세요">
            
            <div class="certification_photo">
                <b id= "certification_photo_text">사진첨부</b>
    
                <div id="certification_photo_space">
                    <div id="preview-container"></div>
                </div>
    
                <input type="file" id="upload-input" name = "image" value = "{{post.image.url}}" accept="image/*">
                <label for="upload-input" class="upload-button">사진 불러오기</label>
         
            </div>
            <b id= "certification_photo_text">내용</b>
            <textarea id="content" style="border:0 solid black" name="content" placeholder="내용을 입력해주세요">{{post.content}}</textarea>
    
            <b id="hashtag_text">해시태그</b>
            <div id="input-container" class="input-container">
                <input type="text" id="tag-input" name = "hashtag" value="#" maxlength="30">
            </div>
            
            <div id="tag-container" class="tag-container">
                {% for hashtag in post.hashtag_set.all %}
                    <input type="text" class="tag-input" value="#{{hashtag.name}}" style="width: 43.6px;">
                {% endfor %}
            </div>
        
            <input type="submit" id="upload_btn" value="업로드하기">
        </div>
    </form>
    <script src="{% static 'js/findwork_company_QnA/free_write_script.js' %}"></script>
</body>

