{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\findwork_company_QnA\write_findwork_style.css' %}">

</head>
<body>
{% include "header2.html" %}
    {% if post %}
        <form action="{% url 'job:update_job_post' post.id %}" method="POST" enctype="multipart/form-data">
    {% else %}
        <form action="{% url 'job:create_job_post' %}" method="POST" enctype="multipart/form-data">

    {% endif %}
            <div class="container">
                <input type="text" style="border:0 solid black" id="title1" name="title1" value = "{{post.title}}" placeholder="제목을 입력해주세요">
                <textarea id="content" style="border:0 solid black" name="content" placeholder="내용을 입력해주세요">{{post.content}}</textarea>
                <b id="job_condition_text">지원조건</b>
                <div class="job_btn">
                    <label class="intern_btn" id="intern_btn">인턴</label>
                    <label class="permanent_btn" id="permanent_btn">정규직</label>
                    <label class="temporary_btn" id="temporary_btn">비정규직</label>

                </div>
                {% if post.userable %}
                    <b id="company_name_text">회사 이름</b>
                {% else %}
                    <b id="company_name_text">{{post.userable.name}}</b>
                {% endif %}
                <input type="text" style="border:0 solid black" id="company_name" name="name" value = {{post.userable.name}}" placeholder="회사 검색하기" onclick="openNewWindow()">

                <b id="grade_text">평점</b>
                <input type="number" name="rating" id="star_number" value = "{{post.rating}}"style="display: none;">
                <div class="rating">
                    <span class="star" id="star_1" data-value="1" onclick="setRating(1)">★</span>
                    <span class="star" id="star_2" data-value="2" onclick="setRating(2)">★</span>
                    <span class="star" id="star_3" data-value="3" onclick="setRating(3)">★</span>
                    <span class="star" id="star_4" data-value="4" onclick="setRating(4)">★</span>
                    <span class="star" id="star_5" data-value="5" onclick="setRating(5)">★</span>
                </div>

                <div class="certification_photo">
                    <b id="certification_photo_text">인증사진</b>

                    <div id="certification_photo_space">
                        <div id="preview-container"></div>
                    </div>

                    <input type="file" id="upload-input" name = "image" src = "{{post.image.url}}"accept="image/*">
                    <label for="upload-input" class="upload-button">사진 불러오기</label>
                
                </div>
                <b id="hashtag_text">해시태그</b>
                <div id="input-container" class="input-container">
                    <input type="text" id="tag-input" name = "hashtag"  maxlength="30">


                </div>

                <div id="tag-container" class="tag-container">
                    {% for hashtag in post.hashtag_set.all %}
                        <input type="text" class="tag-input" value="#{{hashtag.name}}" style="width: 43.6px;">
                    {% endfor %}
                </div>

                <input type="submit" id="upload_btn" value="업로드하기">
            </div>
        </form>
    <script src="{% static 'js\findwork_company_QnA\write_findwork_script.js' %}"></script>
</body>
