a {
    color: black;
  }

h2 {
  font-size: 20px;
  color: black;
}

h3 {
  font-size: 17px;
  margin-left: 50px;
  color: black;
}

  
  .backg {
    width: 1000px;
    height: 1100px;
    background-color: rgb(247, 220, 225);
    margin-left: 270px;
    margin-right: 270px;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
  }
  
  .qnaText {
      font-weight: bold;
      font-size: 23px;
      position: absolute;
      top: 710px;
      left: 430px;
  }
  
  
  
.nickname {
  font-size: 20px;
  position: absolute;
  top: 185px;
  left: 465px;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  text-align: center;
}


.title {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 245px;
  left: 525px;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  text-align: center;
}
  
 
.modify {
  background-color: transparent; 
  border: none; 
  padding: 0; 
  font-size: 16px;
  text-underline-offset: 2px;
  color: rgb(0, 0, 0);
  top: 188px;
  left: 1100px;
  text-decoration: underline;
  position: absolute;
}

.delete {
  background-color: transparent; 
  border: none; 
  padding: 0; 
  font-size: 16px;
  text-underline-offset: 2px;
  color: rgb(0, 0, 0);
  top: 158px;
  left: 1100px;
  text-decoration: underline;
  position: absolute;
}
  
.reportText {
  background-color: transparent; 
  border: none; 
  padding: 0; 
  font-size: 16px;
  text-underline-offset: 2px;
  color: rgb(248, 74, 74);
  top: 218px;
  left: 1100px;
  text-decoration: underline;
  position: absolute;
}

.views {
  font-size: 18px;
  text-underline-offset: 2px;
  color: rgb(27, 27, 27);
  top: 260px;
  left: 1073px;
  position: absolute;
}

  
.rectangleBar {
  width: 800px;
  height: 50px;
  background-color: rgb(210, 153, 164);
  top: 298px;
  left: 380px;
  position: absolute;
  border-radius: 5px;
}
  
  
  
.rectText1 {
  font-weight: bold;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 220px;
  color: #ffffff;
}

.rectMiddle {
  width: 2px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  top: 10%;
  left: 49%;
  position: absolute;
}

.rectText2 {
  color: black;
  font-size: 22px;
  margin-top: -35px;
  margin-left: 480px;
  position: absolute;
}

.rectText1:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.rectText2:hover {
  color: white;
  text-decoration: none;
}

.rectText2link {
  color: black;
  text-decoration: none;
}



.infoBoxLineUp {
width: 700px;
height: 1.5px;
background-color: rgb(0, 0, 0);
top: 373px;
left: 425.5px;
position: absolute;
}

.infoBoxLineDown {
width: 700px;
height: 1.5px;
background-color: rgb(0, 0, 0);
top: 623px;
left: 425.5px;
position: absolute;
}

.infoBoxLineMiddle {
width: 2px;
height: 220px;
background-color: rgb(223, 179, 179);
top: 390px;
left: 775px;
position: absolute;
}

.infoBox {
width: 700px;
height: 250px;
background-color: rgb(247, 239, 239);
top: 373px;
left: 425.5px;
position: absolute;
}

.infoBox2 {
width: 350px;
height: 250px;
background-color: rgb(247, 239, 239);
top: 373px;
left: 775px;
position: absolute;
}


  
  .infoCondition {
    font-size: 18px;
    margin-top: 30px;
    margin-left: 40px;
  }
  
  
  .infoEmployCount {
    font-size: 18px;
    margin-top: 30px;
    margin-left: 40px;
  }
  
  .infoEmployPrefer {
    font-size: 18px;
    margin-top: 30px;
    margin-left: 40px;
  }
  
  .infoApplyMethod {
    font-size: 18px;
    margin-top: 30px;
    margin-left: 60px;
  }
  
  .infoApplySchedule {
    font-size: 18px;
    margin-top: 30px;
    margin-left: 60px
  }
  
  .infoHashtag {
    font-size: 18px;
    margin-top: 30px;
    margin-left: 60px;
  }
  
  .searchBoxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .searchBox {
    position: absolute;
    top: 670px;
    left: 970px;
    font-size: 15px;
    border: 1px solid #000000;
    background-color: #ffdfdf;
    padding: 10px 27px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  

  .qnaBox {
    width: 700px;
    height: 300px;
    background-color: rgb(247, 239, 239);
    top: 747.5px;
    left: 425.5px;
    position: absolute;
  }
  
  .qnaBoxUp {
    width: 700px;
    height: 1.5px;
    background-color: rgb(0, 0, 0);
    top: 747.5px;
    left: 425.5px;
    position: absolute;
  }
  
  .qnaBoxDown {
    width: 700px;
    height: 1.5px;
    background-color: rgb(0, 0, 0);
    top: 1047.5px;
    left: 425.5px;
    position: absolute;
  }
  
  .linePost-title {
    font-size: 20px;
    display: inline;
    margin-right: 420px;
    color: black;
  }
  
  .linePost-date {
    font-size: 17px;
    display: inline;
    color: black;
    margin-left: 220px;
    position: absolute;
    right: 6.5%;
  }
  
  .linePost + .linePost {
    margin-top: 22px;
  }
  
  #linePostList {
    top: 15%;
    left: 6.5%;
    position: absolute;
  }

  
  .reportMenu2 {
    display: none;
    position: absolute;
    top: 37%;
    left: 65%;
  }

  #reportReason2 {
    width: 200px;
    padding: 5px;
    margin-right: 10px;
  }


  #report-submit2 {
    background-color: #ff0000;
    color: #ffffff;
    padding: 5px 10px;
    cursor: pointer;
  }